/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 
    Author     : altyjp
*/
html, body {
  height: 100%;
  width: 100% ;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
}
h1,h2 {
  font-weight: normal;
}
p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
button {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;
    /* 背景色を濃い青色に指定 */
    background-color: #248;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
}

div#start_screen_outer{
    background-color: black;
    color: white;
    position: relative;
    width: 100% ;
    height : 100%;
}

div#start_screen_inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 12rem;
}


div#baseitem{    
    top:0;
}

div#mainitem{
    position: relative;
    top: 0px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

/* ボタンのスタイル */
.button {
    width: 200px;
    height: 40px;
    border: 1px solid #3399ff;
    background-color: #3399ff;
    border-radius: 5px;
    text-align: center;
}

/* リンク領域のスタイル */
.button-a {
    color: white;
    display: block;
    padding: 7px 0;
    text-align: center;
}


canvas {
    position: relative;
    border:3px solid #000;
}

div#img-box{
  border:3px solid #000;
  width:500px;
}

div#btn-box{
    position: fixed;
    bottom :0px;
}

div#result_graph{
    width: 280px;
    height:280px;
}

input#submit_button {
    padding: 1px 10px;
    font-size: 1em;
}

.resultImage{
    width: 100%;
}